# India's Used Car Market: EDA and ML on Used Car Prices

### Importing Packages to be Used

In [1]:
import numpy as np
import matplotlib as plt
import seaborn as sn
import sklearn
import pandas as pd

### Importing DataSets to be Used

In [2]:
## These are the datasets from Aditya which were uploaded to github for easier use
# audiurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/audi.csv'
# bmwurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/bmw.csv'
# cclassurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/cclass.csv'
# focusurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/focus.csv'
# fordurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/ford.csv'
# hyundaiurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/hyundi.csv'
# mercurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/merc.csv'
# skodaurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/skoda.csv'
# toyotaurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/toyota.csv'
# vauxhallurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/vauxhall.csv'
# vwurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/vw.csv'

##Alternatively, these are the datasets in my local directory, in case there is an internet outage.
# Edit the paths to match wherever you have downloaded the datasets
# use ctrl+/ to comment or uncomment

audiurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\audi.csv'
bmwurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\bmw.csv'
cclassurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\cclass.csv'
focusurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\focus.csv'
fordurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\ford.csv'
hyundaiurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\hyundi.csv'
mercurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\merc.csv'
skodaurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\skoda.csv'
toyotaurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\toyota.csv'
vauxhallurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\vauxhall.csv'
vwurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\vw.csv'
##there is an "r" before each of the paths to convert the regular string into a raw string, so that python can read the path

### Converting csv files to dataframes

In [3]:
## these are the functions we will use to convert dtypes if need be
#------#
def convert_dtype_str(x):
    if not x:
        return ''
    try:
        return str(x)   
    except:        
        return ''

def convert_dtype_int(x):
    if not x:
        return ''
    try:
        return int(x)   
    except:        
        return ''
    
def convert_dtype_float(x):
    if not x:
        return ''
    try:
        return float(x)   
    except:        
        return ''

def convert_dtype_datetime(x):
    if not x:
        return ''
    try:
        return datetime(x)   
    except:        
        return ''
#-----#

col_names = ['model','year','price','transmission','mileage','fuelType','tax','mpg','engineSize']
audidf = pd.read_csv(audiurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_datetime,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
bmwdf = pd.read_csv(bmwurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_datetime,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
cclassdf = pd.read_csv(cclassurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_datetime,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
focusdf = pd.read_csv(focusurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_datetime,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
forddf = pd.read_csv(fordurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_datetime,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
hyundaidf = pd.read_csv(hyundaiurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_datetime,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
mercdf = pd.read_csv(mercurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_datetime,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
skodadf = pd.read_csv(skodaurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_datetime,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
toyotadf = pd.read_csv(toyotaurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_datetime,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
vauxhalldf = pd.read_csv(vauxhallurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_datetime,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
vwdf = pd.read_csv(vwurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_datetime,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})

In [7]:
dfcollection = [audidf,bmwdf,cclassdf,focusdf,forddf,hyundaidf,mercdf,skodadf,toyotadf,vauxhalldf,vwdf]

### Checking to see if the dataframes were read properly

In [9]:
for each in dfcollection:
    each = each.iloc[1:]
    each.head()

In [10]:
audidf.head()

   model year    price  transmission mileage  fuelType  tax   mpg engineSize
0  model                transmission          fuelType
1     A1       12500.0        Manual   15735    Petrol  150  55.4        1.4
2     A6       16500.0     Automatic   36203    Diesel   20  64.2        2.0
3     A1       11000.0        Manual   29946    Petrol   30  55.4        1.4
4     A4       16800.0     Automatic   25952    Diesel  145  67.3        2.0