# India's Used Car Market: EDA and ML on Used Car Prices

### Importing Packages to be Used

In [1]:
import numpy as np
import matplotlib as plt
import seaborn as sn
import sklearn
import pandas as pd

### Importing DataSets to be Used

In [2]:
## These are the datasets from Aditya which were uploaded to github for easier use
# audiurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/audi.csv'
# bmwurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/bmw.csv'
# cclassurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/cclass.csv'
# focusurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/focus.csv'
# fordurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/ford.csv'
# hyundaiurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/hyundi.csv'
# mercurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/merc.csv'
# skodaurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/skoda.csv'
# toyotaurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/toyota.csv'
# vauxhallurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/vauxhall.csv'
# vwurl = 'https://github.com/JahCJah/Kaggle-Aditya-UsedCarData/blob/main/vw.csv'

##Alternatively, these are the datasets in my local directory, in case there is an internet outage.
# Edit the paths to match wherever you have downloaded the datasets
# use ctrl+/ to comment or uncomment

audiurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\audi.csv'
bmwurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\bmw.csv'
cclassurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\cclass.csv'
focusurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\focus.csv'
fordurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\ford.csv'
hyundaiurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\hyundi.csv'
mercurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\merc.csv'
skodaurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\skoda.csv'
toyotaurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\toyota.csv'
vauxhallurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\vauxhall.csv'
vwurl = r'C:\Users\JahJah Callanta\Documents\ADMU\Internship Documents\Aditya Kaggle\Aditya-Kaggle-Git\Kaggle-Aditya-UsedCarData\vw.csv'
##there is an "r" before each of the paths to convert the regular string into a raw string, so that python can read the path

### Converting csv files to dataframes

In [3]:
## these are the functions we will use to convert dtypes if need be
#------#
def convert_dtype_str(x):
    if not x:
        return ''
    try:
        return str(x)   
    except:        
        return ''

def convert_dtype_int(x):
    if not x:
        return ''
    try:
        return int(x)   
    except:        
        return ''
    
def convert_dtype_float(x):
    if not x:
        return ''
    try:
        return float(x)   
    except:        
        return ''

def convert_dtype_datetime(x):
    if not x:
        return ''
    try:
        return datetime(x)   
    except:        
        return ''
#-----#

col_names = ['model','year','price','transmission','mileage','fuelType','tax','mpg','engineSize']
audidf = pd.read_csv(audiurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_int,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
bmwdf = pd.read_csv(bmwurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_int,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
cclassdf = pd.read_csv(cclassurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_int,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
focusdf = pd.read_csv(focusurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_int,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
forddf = pd.read_csv(fordurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_int,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
hyundaidf = pd.read_csv(hyundaiurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_int,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
mercdf = pd.read_csv(mercurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_int,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
skodadf = pd.read_csv(skodaurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_int,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
toyotadf = pd.read_csv(toyotaurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_int,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
vauxhalldf = pd.read_csv(vauxhallurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_int,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})
vwdf = pd.read_csv(vwurl,names=col_names, converters={'model': convert_dtype_str,'year': convert_dtype_int,'price': convert_dtype_float,'transmission': convert_dtype_str,'mileage': convert_dtype_int,'fuelType': convert_dtype_str,'tax': convert_dtype_int,'mpg': convert_dtype_float,'engineSize': convert_dtype_float})

### Checking to see if the dataframes were read properly

In [4]:
audidf = audidf.iloc[1:]
bmwdf = bmwdf.iloc[1:]
cclassdf = cclassdf.iloc[1:]
focusdf = focusdf.iloc[1:]
forddf = forddf.iloc[1:]
hyundaidf = hyundaidf.iloc[1:]
mercdf = mercdf.iloc[1:]
skodadf = skodadf.iloc[1:]
toyotadf = toyotadf.iloc[1:]
vauxhalldf = vauxhalldf.iloc[1:]
vwdf = vwdf.iloc[1:]
#we remove the first row (not the column name row) of each dataset because they are useless in the analysis

In [5]:
audidf.head()

  model  year    price transmission mileage fuelType  tax   mpg engineSize
1    A1  2017  12500.0       Manual   15735   Petrol  150  55.4        1.4
2    A6  2016  16500.0    Automatic   36203   Diesel   20  64.2        2.0
3    A1  2016  11000.0       Manual   29946   Petrol   30  55.4        1.4
4    A4  2017  16800.0    Automatic   25952   Diesel  145  67.3        2.0
5    A3  2019  17300.0       Manual    1998   Petrol  145  49.6        1.0

### Merging the dataframes into one master dataframe

In [6]:
frames = [audidf,bmwdf,cclassdf,focusdf,forddf,hyundaidf,mercdf,skodadf,toyotadf,vauxhalldf,vwdf]

In [7]:
masterdf1 = pd.concat(frames)

In [8]:
masterdf1.shape #checking the shape of the dataframe

(108540, 9)

In [9]:
masterdf1.head(10)

   model  year    price transmission mileage fuelType  tax   mpg engineSize
1     A1  2017  12500.0       Manual   15735   Petrol  150  55.4        1.4
2     A6  2016  16500.0    Automatic   36203   Diesel   20  64.2        2.0
3     A1  2016  11000.0       Manual   29946   Petrol   30  55.4        1.4
4     A4  2017  16800.0    Automatic   25952   Diesel  145  67.3        2.0
5     A3  2019  17300.0       Manual    1998   Petrol  145  49.6        1.0
6     A1  2016  13900.0    Automatic   32260   Petrol   30  58.9        1.4
7     A6  2016  13250.0    Automatic   76788   Diesel   30  61.4        2.0
8     A4  2016  11750.0       Manual   75185   Diesel   20  70.6        2.0
9     A3  2015  10200.0       Manual   46112   Petrol   20  60.1        1.4
10    A1  2016  12000.0       Manual   22451   Petrol   30  55.4        1.4

In [10]:
masterdf1.loc[masterdf1['transmission'] == 'Automatic']

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
2,A6,2016,16500.0,Automatic,36203,Diesel,20,64.2,2.0
4,A4,2017,16800.0,Automatic,25952,Diesel,145,67.3,2.0
6,A1,2016,13900.0,Automatic,32260,Petrol,30,58.9,1.4
7,A6,2016,13250.0,Automatic,76788,Diesel,30,61.4,2.0
12,A6,2016,16500.0,Automatic,52198,Diesel,125,57.6,2.0
...,...,...,...,...,...,...,...,...,...
15136,Caddy Life,2019,19995.0,Automatic,3000,Diesel,145,47.9,2.0
15139,Caddy,2016,11999.0,Automatic,59523,Diesel,145,55.4,2.0
15141,Caddy,2017,15995.0,Automatic,25797,Diesel,145,55.4,2.0
15145,Caddy Maxi,2015,9949.0,Automatic,93113,Diesel,160,52.3,1.6
15149,Eos,2008,3695.0,Automatic,127000,Petrol,280,34.5,2.0

In [11]:
masterdf1['year'].unique()
#this shows us the unique values in a column

# masterdf1['tax'].nunique() 
#this shows us the NUMBER of unique values in a column

array([2017, 2016, 2019, 2015, 2014, 2018, 2013, 2020, 2004, 2009, 2012,
       2010, 2007, 2011, 2008, 2003, 2005, 2002, 2006, 1998, 1997, 2001,
       2000, 1999, 1996, 1991, 1995, 2060, 1970], dtype=object)

In [12]:
masterdf1['year'].unique()
#this shows us that there are initially no year values in the masterdf1 which is an issue to be fixed
#FIX: changed the converter of year to 'int' instead of datetime in ln[3]

array([2017, 2016, 2019, 2015, 2014, 2018, 2013, 2020, 2004, 2009, 2012,
       2010, 2007, 2011, 2008, 2003, 2005, 2002, 2006, 1998, 1997, 2001,
       2000, 1999, 1996, 1991, 1995, 2060, 1970], dtype=object)